<h1><%= @client.name %></h1>
<p><%= @client.info %></p>

<p>This is the fattura <%= @doc.number %></p>
<p>Prezzo netto <%= @price %></p>
<p>Rivalsa inps 4% <%= @inps %></p>
<p>Ritenuta 20% -<%= @ritenuta %></p>
<p><strong>Totale <%= @total %></strong></p>

<%= link_to "Indietro", client_path(@client) %>
<%= link_to "Modifica Fattura", edit_client_doc_path(@client, @doc) %>
<%= link_to "Elimina Fattura", client_doc_path(@client, @doc), method: :delete, data: { confirm: "Are you sure?"} %>
