<h1><%= @client.name %></h1>
<p><%= simple_format @client.info %></p>

<%= link_to "Modifica Cliente", edit_client_path %>
<%= link_to "Elimina Cliente", client_path(@client), method: :delete, data: { confirm: "Sei sicuro?"} %>
<div class="fattura"><%= link_to "Nuova Fattura", new_client_doc_path(@client) %></div>

<% @client.docs.order("created_at asc").each do |doc| %>

	<div class="doc">
		<%= link_to doc.number, client_doc_path(doc) %>
		<p class="posted">
					<%= doc.created_at.strftime("%d-%m-%Y") %>
		</p>
    <p class="price">
      <%= doc.price %>
    </p>
	</div>

<% end %>
