<!DOCTYPE html>
<html>
  <head>
    <title>Invoice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav>
      <p><%= link_to 'Homepage', root_path %></p>
      <p><%= link_to 'Nuovo Cliente', new_client_path %></p>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
